* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
     background: rgb(178, 234, 234);
}

.container {
  margin: 150px auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 50px;
}
.leftSide {
  width: 30%;
}
textarea {
  background: linear-gradient(180deg, #00FFFF, #75a3f3);
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid black;
  padding:10px 20px;
  width: 100%;
}
textarea::placeholder {
  color: black;
}
button{
   padding: 10px 30px;
   border-radius: 10px;
   border: 1px solid black;
     background: linear-gradient(180deg, #00FFFF, #75a3f3);
   margin-top: 10px;
   cursor: pointer;
}
button:hover{
     background: linear-gradient(180deg, #75a3f3, #00FFFF);
}
.rightSide {
  width: 65%;
  margin-top: 58px;
}

.textCard{
   background: linear-gradient(180deg, #00FFFF, #75a3f3);
   border-radius: 10px;
   padding: 20px;
   border: 1px solid black;
   margin-bottom: 10px;
}
.text{
   color: rgb(14, 11, 20);
   font-size: 18px;
   text-transform: capitalize; 
}